body{
    background: linear-gradient(150deg, rgb(11, 21, 48) 0%, rgb(29, 38, 66) 100%);
    font-family: "Space Grotesk";
}

/*Maintain the layout of the resume*/
.resume_container{
    display:flex;
}

/*Center the left side of the resume */
.resume_profile_container{
    text-align: center;
}

/* Footer */
/* Specificity Challenge 1 */
p{
    color:cyan;
}

/*Class wins here because it has higher specificity than element/tag. (0,1,0) > (0,0,1). 100s is greater than 10s. */
.footer_element{
    color:beige;
    font-style:italic;
    font-weight:bolder;
}
/*End of Specificity Challenge 1*/

/* Name */
/* Specificity Challenge 2 */
h1{
    color: brown;
}

/*ID wins here because it has higher specificity than element/tag. (1,0,0) > (0,0,1). 1000s is greater than 10s. */
#Name{
    color:aquamarine;
    font-weight: bold;
    font-style: italic;
}
/* End of Specificity Challenge 2 */

/* Occupation */
/* Specificity Challenge 3 */
.Major{
    color:darkred;
}

/*ID wins here because it has higher specificity than class. (1,0,0) > (0,1,0). 1000s is greater than 100s. */
#Profession{
    color:aqua;
    font-weight: bold;
}
/* End of Specificity Challenge 3*/

/* Link to Github page */
.link,
nav{
    color:beige;
    font-weight: bold;
}

.link:hover {
    color:aqua;
}

/* Professional Image */
.image{
    width: 300px;
    border: 10px solid cyan;
}


span{
    color:cadetblue;
}

/* Section Titles */
.About_Section{
    font-style: italic;
    display:inline-block;
    color:aquamarine;
    background-image:linear-gradient(rgb(206, 239, 218));
    background-repeat: no-repeat;
    background-size: 110% 40%; 
    background-position: 0 150%;
}

/* Section Sub-Titles */
.Sub_About_Section{
    color:deepskyblue;
}

/* Everything else in the section */
section{
    color:beige;
    margin-left: 30px;
}

/* Skill Table */
.skills{
    margin-right: 30px;
}

table{
    background-color: darkcyan;
}


.Table_Header{
    background-color:rgb(36, 86, 180);
}

tr{
    background-color: cornflowerblue;
}





























